@use "../abstract" as *;

/* Banner Style*/
.banner {
  &__slider {
    &-inner {
      height: 100vh;
      @include min-lg {
        height: 90vh;
      }
      @include min-md {
        height: 75vh;
      }
      @include min-sm {
        height: 70vh;
      }
      @include max-xs {
        height: 80vh;
      }
    }
    .slick {
      &-arrow {
        border: none;
        outline: none;
        font-size: 24px;
        background-color: $primary;
        color: $white;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 111;
        cursor: pointer;
        @include transition(0.3s);
        &:hover {
          background-color: $dark-gray;
        }
      }
      &-prev {
        left: 70px;
      }
      &-next {
        right: 70px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
      text-transform: capitalize;
      @include min-md {
        margin-top: -15px;
        margin-bottom: -30px;
      }
      @include min-sm {
        font-size: 48px;
        margin-top: -10px;
        margin-bottom: -20px;
      }
      @include max-xs {
        font-size: 40px;
        margin-top: -15px;
        margin-bottom: -30px;
      }
    }
    h5 {
      font-size: 32px;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 20px;
      @include min-sm {
        font-size: 28px;
      }
      @include max-xs {
        font-size: 20px;
      }
    }
    a {
      margin: 0 10px;
      @include max-xs {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
