@use "../abstract" as *;

/* CTA Style*/
.cta {
  &__area {
    background-color: $primary;
  }
  &__info {
    @include max-xs {
      text-align: center !important;
    }
    h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      @include min-md {
        font-size: 44px;
      }
      @include max-xs {
        font-size: 32px;
      }
    }
    a {
      display: block;
      font-size: 18px;
      font-weight: 600;
      margin-top: 8px;
      margin-bottom: 8px;
      i {
        margin-right: 10px;
      }
    }
  }
}
