@use "../abstract" as *;

/* Footer Style*/
.footer {
  &__area {
    color: $white;
  }
  &__widget {
    h3 {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 12px;
      @include min-lg {
        font-size: 20px;
      }
    }
    ul {
      li {
        margin-bottom: 3px;
        padding-bottom: 3px;
        font-weight: 500;
        @include min-lg {
          font-size: 14px;
        }
        i {
          margin-right: 8px;
        }
        a {
          font-weight: 600;
          text-transform: capitalize;
          @include transition(0.3s);
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__bottom {
    @include max-xs {
      margin-top: 15px;
    }
  }
  &__social {
    margin-top: 10px;
    padding-top: 20px;
    @include border-top(1px, solid, $light-gray);
    @include max-xs {
      text-align: center;
    }
    a {
      margin-right: 10px;
      @include transition(0.3s);
      &:hover {
        color: $primary;
      }
    }
  }
  &__copy {
    margin-top: 10px;
    padding-top: 20px;
    @include border-top(1px, solid, $light-gray);
    @include max-xs {
      text-align: center;
    }
  }
}
