@use "../abstract" as *;

/* Services Style*/
.services {
  &__single {
    padding: 30px 20px;
    position: relative;
    @include border(1px, solid, $light-gray);
    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: -1px;
      width: 0%;
      height: 3px;
      background-color: $primary;
      @include transition(0.5s);
    }
    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      right: -1px;
      width: 0%;
      height: 3px;
      background-color: $primary;
      @include transition(0.5s);
    }
    &:hover {
      &::before {
        width: calc(100% + 2px);
      }
      &::after {
        width: calc(100% + 2px);
      }
    }
    &-info {
      h4 {
        font-size: 24px;
        margin: 10px 0;
        @include max-xs {
          font-size: 20px;
        }
      }
    }
  }
}
