@use "../abstract" as *;

/* Special Menu Style*/
.specialmenu {
  &__single {
    position: relative;
    background-color: $white;
    @include border(1px, solid, $light-gray);
    &-img {
      img {
        width: 100%;
      }
    }
    &-package {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      color: $white;
      padding: 10px 25px;
      h5 {
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    &-info {
      padding: 20px;
      @include max-xs {
        padding: 15px;
      }
      li {
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-weight: 600;
        @include max-xs {
          font-size: 15px;
        }
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          padding-top: 15px;
          @include border-top(1px, dashed, $dark-gray);
        }
        span {
          color: $primary;
          font-style: italic;
          display: block;
          float: right;
        }
      }
    }
  }
}
